*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sono', 'Helvetica', sans-serif;
    min-height: 100vh;
    width: 100%;
}

main{
    width: 100%;
    height: 700px;
}

h1{
    text-align: center;
    width: 100%;
    padding-top: 10px;
    color: rgb(74,74,104);
    font-weight: 700;
    font-size: 3rem;
    height: 10%;
    background-color: rgba(239,249,255, 1);;
}

section.box > section{
    width: 40%;
    
}

section > h2{
    width: 70%;
    font-weight: 700;
    color: rgb(74,74,104);
    font-size: 2rem;
}

section p{
    font-size: 1.5rem;
}

section.box {
    background-color: rgba(239,249,255, 1);
    display: flex;
    height: 90%;
    flex-flow: row wrap;
    justify-content: space-around;
}

section.secondBox{
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: rgba(239,249,255, 1);
}

section.secondBox >h2{
    width: 100%;
    text-align: center;
}

section.secondBox section{
    width: 25%;
    height: 70%;
    border: 2px solid gray;
    border-radius: 11%;
}
.container h1{
    text-align: center;
}

section.secondBox section > ol li{
    margin-bottom: 10%;
}

/* dashboard */

#dashboardHead{
    font-size: 3rem;
    text-align: center;
    margin: 1% 0 0 0 ;
}
.dashboardContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.dashboardContainer section{
    display: flex;
    border: 2px solid #ccc;
    border-radius: 25px;
    height: 30%;
    width: 23%;
    margin: 2% 0 0 0 ;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    
}

.dashboardChild span{
   font-size: 1rem;
   font-weight: 700;
}

.dashboardChild a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(109, 199, 255);
}

#plus{
    font-size: 3rem;
    
}
/* create goal */

section.formContainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.formContainer .form{
    display: flex;
    flex-flow: column;
    width: 50%;
}

h3{
    text-align: center;
    margin-top: 5%;
}

.form input{
    height: 5%;
    vertical-align: top;
    word-break: break-word;
}
.form p {
    font-size: 1.1rem;
    padding-top: 4%;
}
.form .btn{
    margin-top:5%;
    border: 2px solid black;
    width: 15%;
    align-self: center;
}

/* Pursue.html */
.pursueContainer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}

section.pursueContainer > h2{
    width: 20%;
    margin-top: 5%;
    text-align: center;
}

section.pursueContainer p{
    width: 40%;
    text-align: center;
}

.hidden{
    display: none;
}

.dot{
    height: 50px;
    width: 50px;
    background-color: rgb(253, 3, 3);
    border-radius: 50%;
    margin: 10% 0;
}


