*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sono', 'Helvetica', sans-serif;
    min-height: 100vh;
    width: 100%;
}

main{
    width: 100%;
    height: 700px;
}

h1{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 100px;
    color: rgb(74,74,104);
    font-weight: 700;
    font-size: 3rem;
}

section.box > section{
    height: 50%;
    width: 40%;
    border: 3px solid blue;
    margin-left: 10%;
}

section > h2{
    width: 70%;
    font-weight: 700;
    color: rgb(74,74,104);
    font-size: 2rem;
}

section p{
    font-size: 1.5rem;
}

section.box {
    background-color: rgba(239,249,255, 1);
    padding: 0;
    width: 100%;
    height: 100%;
    border: 3px solid black;
}


.container h1{
    text-align: center;
}

/* dashboard */

#dashboardHead{
    font-size: 3rem;
    text-align: center;
    margin: 1% 0 0 0 ;
}
.dashboardContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.dashboardContainer section{
    display: flex;
    border: 2px solid #ccc;
    border-radius: 25px;
    height: 30%;
    width: 23%;
    margin: 2% 0 0 0 ;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    
}

.dashboardChild span{
   font-size: 1rem;
   font-weight: 700;
}

.dashboardChild a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(109, 199, 255);
}

#plus{
    font-size: 3rem;
    
}
/* create goal */

section.formContainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.formContainer .form{
    display: flex;
    flex-flow: column;
    width: 50%;
}

h3{
    text-align: center;
    margin-top: 5%;
}

.form input{
    height: 5%;
    vertical-align: top;
    word-break: break-word;
}
.form p {
    font-size: 1.1rem;
    padding-top: 4%;
}
.form .btn{
    margin-top:5%;
    border: 2px solid black;
    width: 15%;
    align-self: center;
}