{% extends "layout.html" %}
{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <h2>Goals</h2>
    <section class="dashboardContainer">
        {% for i in range(rows) %}
        <section class="dashboardChild">
            <span> {{ goals[i].goal}}</span>
            <a href="/pursue">Pursue</a>
        </section>
        {% endfor %}
        <section class="dashboardChild">
            <span>Create a New Goal</span>
            <a href="/create">+</a>
        </section>
    </section>
{% endblock %}
{% block javascript %}
{% endblock %}