{% extends "layout.html" %}
{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <h2 id ="dashboardHead">Goals</h2>
    <section class="dashboardContainer">
        {% for i in range(rows) %}
        <section class="dashboardChild">
            <span>{{ goals[i].goal}}</span>
            <span>Deadline: {{ goals[i].deadline}}</span>
            <a href="/pursue">Pursue</a>
        </section>
        {% endfor %}
        <section class="dashboardChild">
            <span>Create a New Goal</span>
            <a href="/create" id="plus">+</a>
        </section>
    </section>
{% endblock %}
{% block javascript %}
{% endblock %}