{% extends "layout.html" %}
{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <h2 id ="dashboardHead">Goals</h2>
    <section class="dashboardContainer">
        {% for goal in goals %}
        <section class="dashboardChild">
            <span>{{ goal.goal}}</span>
            <span>Deadline: {{ goal.deadline}}</span>
            <button data-goal-id="{{ goal.goal_id }}" id="button-{{ loop.index }}">Pursue</a>
        </section>
        {% endfor %}
        <section class="dashboardChild">
            <span>Create a New Goal</span>
            <a href="/create" id="plus">+</a>
        </section>
    </section>
{% endblock %}
{% block javascript %}
{% endblock %}