{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}

{% block main %}
    {% if session['user_id'] %}

    {% endif %}
    <div class="main-header">
        <div class="inner-header">
            <div class="brand-name-container">
                <h1>Achieve</h1>
                <div>
                    <p>Persue your goals with the backing of the best neuroscientific and psychological research.</p>

                </div>
                
            </div>
        </div>
        
    </div>

{% endblock %}