{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}

{% block main %}
    {% if session['user_id'] %}
    <section class="container">
        <h1>Hello, Please click on dashboard to get started!</h1>
    </section>
    {% else %} 
    <section class="box">
        <h1>Welcome to Achieve.</h1>
        <section>
            <h2>Goal achievement, made easier.</h2>
            <p>Pursue your goals with the best neuroscientific and psychological research.</p>
        </section>
        <section>
            <img src="/static/Achieve.jpg" alt="achievement" style="width:100%">
        </section>
    </section>
    <section class="secondBox">
        <h2>How It Works:</h2>
        <section>
            <h3>Create an Account</h3>
            <ol>
                <li>Click on Register in the top right corner.</li>
                <li>Create a Username and Password.</li>
                <li>Log in!</li>
            </ol>
        </section>
        <section>
            <h3>Create a Goal</h3>
            <ol>
                <li>From your Dashboard create a goal.</li>
                <li>Follow the instructions.</li>
                <li>Click Create when done!</li>
            </ol>
        </section>
        <section>
            <h3>Pursue Goals!</h3>
            <ol>
                <li>From your Dashboard pick a goal to pursue,</li>
                <li>Follow the instructions to set yourself into goal pursuit mode!</li>
            </ol>
        </section>
    </section>
    {% endif %}
{% endblock %}
{% block javascript %}
{% endblock %}