{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div>
        <input class="form-control mx-auto w-auto" type="text" name="username" placeholder="Username" autocomplete="off" autofocus>
    </div>
    <div>
        <input class="form-control mx-auto w-auto" type="password" name="password" placeholder="Password" autocomplete="off">
    </div>
        <br>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" style="margin:auto; align-self:center;">Log In</button>
    </div>
    </form>
<div>
    {% if retry %}
    <p style="text-align: center"><strong> {{ error }}</strong></p>
    {% endif %}
</div>

{% endblock %}
{% block javascript %}
{% endblock %}