{% extends "layout.html" %}
{% block title %}
    Pursue
{% endblock %}

{% block main %}
<section class="pursueContainer">
    <h2 class="firstPursue">Goal Pursuit</h2>
    <p class="firstPursue">To begin goal pursuit please close your eyes and take three slow, and long breaths. Focus on the feeling of your chest or abdomen rising and falling as you breath. Click next when done.</p>
    <p class="hidden secondPursue">Now fix your eyes on this figure for 30-60 seconds, you are allowed to blink.</p>
    <span class="hidden secondPursue dot"></span>
    <button type="button" id="next" class="btn btn-primary">Next</button>
    <button type="button" id="next2" class="btn btn-primary hidden">Next</button>
</section>
{% endblock %}
{% block javascript %}
{% endblock %}